# APP - INFO
APP=
BRANCH=
 

# DEV
BASE_URL=
NODE_LOCAL_PORT=
NODE_DOCKER_PORT=
VITE_BASE_URI=${BASE_URL}/api/v1/
VITE_SOCKET_ADDRESS=${BASE_URL}
VITE_URL_STATIC_FILES=${BASE_URL}/api/v1/static_files
VITE_IS_DEV=false
VITE_NODE_ENV="development"